/*--------------------
        Fonts
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------------------
    Utilities Style
------------------------ */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
.container {
    padding: 44px 90px;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 35px;
}
.main-button {
    background-color: #e02c6d;
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
}
.main-button:hover{
    background-color: #9e0f43; 
}




/*---------------------------
       Hero section
--------------------------- */
.logo h1{
    font-size: 24px;
}
.hero-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content h1{
    font-size: 52px;
    margin-bottom: 7px;
}
.hero-img {
    background-color: #ededed52;
    padding: 17px 15px;
    border-radius: 50%;
    border: 3px solid #f1e4ff;
}
.hero-img img{
   width: 400px;
}
.icon-right {
    margin-left: 11px;
}





