/*--------------------
        Fonts
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------------------------
    Utilities Style
------------------------ */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
    padding: 0;
}
.container {
    padding: 44px 90px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 35px;
}
hr{
    border-image: radial-gradient(rgb(219, 223, 223), rgb(255 255 255)) 1;
    margin: 30px 0;
}
.main-button {
    background-color: #e02c6d;
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 600;
}
.main-button:hover{
    background-color: #9e0f43; 
}
/*---------------------------
       Hero section
--------------------------- */
.logo h1{
    font-size: 24px;
}
.hero-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content h1{
    font-size: 52px;
    margin-bottom: 7px;
}
.hero-content p {
    width: 552px;
}
.hero-img {
    background: url(images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-img img{
    transition: transform 5s;
}
.hero-img img:hover {
    transform: rotate(312deg);
}
.icon-right {
    margin-left: 11px;
}
/*---------------------------
       Brand Section
--------------------------- */
.brand-area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0px 52px;
}
/*---------------------------
    Popular Collection
--------------------------- */
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
    grid-row-gap: 30px;
    margin-left: 30px;
}
.site-heading{
    text-align: center;
    font-size: 33px;
    margin-bottom: 0;
    font-weight: 600;
}
.product {
    width: 301px;
    height: 457px;
    padding: 21px 17px; 
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-details h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 8px;
}
.product-details h4 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 5px;
    margin-bottom: 0;
}
.product-details .ratting {
    font-size: 11px;
    color: #FB8200;
}
.ratting-point {
    font-size: 14px;
    color: #787885;
    margin-left: 7px;
    font-weight: 600;
}
.product-details h6 {
    font-size: 14px;
    color: #787885;
    margin-top: 10px;
    font-weight: 500;
    width: 270px;
}
.see-more h4{
    text-align: end;
    margin-right: 60px;
    color: #E02C6DDE;
}
/*---------------------------
    Featured products
--------------------------- */
.Featured-section {
    background-color: #f9f9f9;
    padding: 60px 0px;
}
.Featured-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Featured-img img {
    width: 510px;
}
.Featured-content h3 {
    color: #E02C6D;
    font-size: 24px;
}
.Featured-content h5 {
    font-size: 15px;
    font-weight: 500;
}
.Featured-content ul {
    margin-bottom: 27px;
}
.cart-button {
    margin-left: 23px;
    padding: 9px 15px;
    background-color: #E02C6D;
    border-radius: 12px 0px;
    color: #fff;
}
.cart-button:hover{
    background-color: #94083c;
}
/*---------------------------
       Footer Section
--------------------------- */
footer.footer-section {
    padding: 37px 0px;
    background-color: #0A0826;
}
.footer-section {
    text-align: center;
}
.footer-content h3{
    color: #fff;
    font-size: 24px;
    margin-bottom: 11px;
}
.footer-content p {
    color: #82A5C0;
    font-weight: 100;
    font-size: 14px;
}
.social-area i {
    color: #fff;
    background-color: #22203B;
    padding: 10px;
    border-radius: 20px;
    margin: 6px;
}
.social-area i:hover{
    background-color: #161527;
}

/*---------------------------
        Media Query
----------------------------  */
/* Mobile Devices */
@media only screen and (max-width:688px){
    .container {
        padding: 44px 20px;
    }
    .hero-contents {
        flex-direction: column;
    }
    .hero-content h1 {
        font-size: 37px;
        text-align: center;
    }
    .hero-content p {
        text-align: center;
        font-size: 19px;
        width: 366px;
    }
    .main-button {
        margin-left: 85px;
    }
    .hero-img img {
        width: 96%;
    }
    .hero-img {
        background: url(images/Circle\ design.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 31px;
        margin-top: 50px;
    }
    .brand-area {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 17px;
        grid-column-gap: 26px;
        grid-row-gap: 33px;
    }
    .brand-img img {
        width: 67px;
    }
    .collections {
        grid-template-columns: repeat(1, 1fr);
        margin: 17px;
        padding: 0;
    }
    .Featured-area {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Featured-img img {
        width: 344px;
    }
}
/* Teblet divices */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container {
        padding: 44px 50px;
        overflow: hidden;
    }
    .hero-img {
        margin-top: 64px;
    }
    .hero-contents {
        flex-direction: column;
    }
    .brand-area {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 33px;
        padding: 0;
    }
    .collections {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }
    .Featured-area {
        flex-direction: column;
    }
}